{% extends 'base.html'%}


{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-3 col-12">
        </div>
        <div class="col-sm-6 col-12">
            <div>
                <h3 class="border-bottom color-title">{{ groupsList|length }} Groupes</h3>
            </div>
            {% for group in groups%}
            
            <div class="card one-edge-shadow border-publi" style="width: 100%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h4>nom : {{ group.nameGroup }}</h4>
                        <a href="{% url 'join_group' group.idGroup %}">
                            <button type="button" class="btn btn-success float-right">requete d'ajout</button>
                        </a>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning"> {{ message}}</div>
                        {% endfor %}
                        {% endif %}
                    </li>
                    <!--<form action="{% url 'list_groups' group.idGroup %}" method="POST">
                    {% csrf_token %}
                        <input id="submit" type="submit" value="Submit" />
                    </form>-->
                </ul>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation example ">
            <ul class="pagination d-flex justify-content-center mt-2">
                    {% if groups.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ groups.previous_page_number }}">precedent</a></li>
                    {% endif %}

                    {% if groups.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ groups.next_page_number }}">suivant</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ groups.paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}
            </ul>
            </nav>
        </div>
        <div class="col-sm-3 col-12">
        </div>
    </div>
</div>

{% endblock %}