{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div>
        <h5>il y a  {{ publicationList|length }} publications</h5>
    </div>
    {% for publication in publicationList %}
    
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ publication.titlePubli }}   {{ publication.datePublished }}<br>
            {{ publication.contentPubli }}<br>
            {% for filep in fileList %}
                {% if filep.publiFile_id == publication.idPubli %}
                    <a href="{{filep.filef.url}}">{{filep.filef.name}}</a><br>
                {% endif %}
            {% endfor %}

            </li>
         </ul><br>
    <form action="{% url 'read_group' idG publication.idPubli %}"method="post">
     {% csrf_token %}
     {{comment_form.as_p}}
     <input type="submit" value="Submit" class="btn btn-outline-success">
     </form>
    <a href="#Foo" class="btn btn-default" data-toggle="collapse">{{commentList|length}} commentaires</a>
    <button href="#Bar" class="btn btn-default" data-toggle="collapse">Derouler</button>
    <div id="Foo" class="collapse">
    </div>
    <div id="Bar" class="collapse in">
        {% for comment in commentList %}
            posted by: {{name_acc_com.username}}<br>
            {{comment.comment}}<br>
        {% endfor %}

    </div>
    {% endfor %}
    </div>
    
</div>
{% endblock %}