{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-3 col-12">
            <div class="container mb-5">
                <div class="row">
                <div class="col-6 aln">
                    <h5>Membres</h5>
                    <div class="container-fluid">
                        <a type="button" class="btn btn-primary" href="{% url 'list_member' idG %}">
                            membres <span class="badge badge-light">{{memberList|length}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-6 aln">
                    {% if group.idAccountGroup_id == request.user.id %}
                    <h5>Demande</h5>
                    <div class="container-fluid">
                        <a type="button" class="btn btn-primary" href="{% url 'list_join' idG %}">
                            demandes <span class="badge badge-light">{{joinList|length}}</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div style="text-align:center;">
                <h3>{{ publicationList|length }} publications :</h3>
                <a href="{% url 'create_publication' idG%}">
                    <button type="button" class="btn btn-success">nouvelle publication</button>
                </a>
            </div>
            {% for publication in publicationList %}
            <div class="card one-edge-shadow border-publi" style="width: 100%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5 class="font-weight-bold">{{ publication.titlePubli }}</h5>  {{ publication.datePublished }}</li>
                    <div class="reduce">
                        {{ publication.contentPubli }}<br>

                    {% for filep in fileList %}
                        {% if filep.publiFile_id == publication.idPubli %}
                            <a href="{{filep.filef.url}}">{{filep.filef.name}}</a><br>
                        {% endif %}
                    {% endfor %}
                    </div>

                    </li>
                </ul><br>
                <div class="reduce">
                    <form action="{% url 'read_group' idG publication.idPubli %}"method="post">
                    {% csrf_token %}
                    {{comment_form|crispy}}
                    <input type="submit" value="Poster" class="btn btn-outline-success reduce">
                    </form>  
                    <button href="#Bar" class="btn btn-default" data-toggle="collapse" data-subject="{{publication.idPubli}}" data-target="#com_list{{publication.idPubli}}">Afficher commentaires</button>
                </div>
                <div id="Foo" class="collapse">
                </div><!--1-->
                <div id="com_list{{publication.idPubli}}" class="collapse in">
                    {% for comment in commentList %}
                        {% if comment.idPubliC_id == publication.idPubli %}
                            <div class="card" style="margin: 1rem;">
                                <div class="card-body">
                                    {{comment.comment}}
                                    <footer class="blockquote-footer">posted by: {{name_acc_com.username}}<br></footer>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div><!--1-->
            
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-3 col-12">
        </div>
    </div>
</div>
{% endblock %}