{% extends 'base.html' %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-12">
        </div>
        <div class="col-sm-6 col-12">
            <div class="card one-edge-shadow border-publi" style="width: 100%%;">
                <div class="card-body">
                    <h5 class="card-title">Mes informations :</h5>
                    <a href="{% url 'update_account' %}">
                        <button type="button" class="btn btn-success float-right">Modifier</button>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">nom d'utilisateur : <span class="float-right">{{us.username}}</span></li>
                    <li class="list-group-item">prenom :            <span class="float-right">{{us.first_name}}</span></li>
                    <li class="list-group-item">nom :               <span class="float-right">{{us.last_name}}</span></li>
                    <li class="list-group-item">email :             <span class="float-right">{{us.email}}</span></li>
                    <li class="list-group-item">date de naissance : <span class="float-right">{{account.birthDate.day}}-{{account.birthDate.month}}-{{account.birthDate.year}}</span></li>
                    <li class="list-group-item">departement :       <span class="float-right">{{account.department}}</span></li>
                    <li class="list-group-item">annee :             <span class="float-right">{{account.year_in_school}}</span></li>
                    <li class="list-group-item">departement :       <span class="float-right">{{account.department}}</span></li>
                    {% if account.githubLink != "" %}
                    <li class="list-group-item">lien github :  <span class="float-right"><a href="{{account.githubLink}}"><button type="button" class="btn btn-link">Profil github: {{us.username}}</button></a></span></li>
                    {% endif %}
                    {% if account.linkedInLink != "" %}
                    <li class="list-group-item">lien linkedIn :  <span class="float-right"><a href="{{account.linkedInLink}}"><button type="button" class="btn btn-link">Link</button></a></span></li>
                    {% endif %}
                </ul>
            </div> 
        </div>
        <div class="col-sm-3 col-12">
        </div>
    </div>
</div>

{% endblock %}