.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 0rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }

@media (min-width: 576px) {
    .jumbotron {
      padding: 0.25rem 2rem;
    }
  }

.display-4 {
font-size: 3.5rem;
font-weight: 300;
line-height: 1.2;
text-align: center;
}

.lead {
font-size: 1.25rem;
font-weight: 300;
text-align: center;
}

.container .form-group{
  margin:left;

}

#button_connexion {
  margin: 2rem;
}

.col-sm-6 .offset-sm-3 .text-center {
  margin: 1rem;
}

#size_text_card{
  height: 72px;
}