{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{account.idAccount.id}}{{account}}{{account_id}}</h1>
    <div id="container" class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center"><br>
                <form method="post">
                {{ formset.non_form_errors }}
                {% csrf_token %}
                {{ form|crispy }}
                <div id="button_connexion">
                <button type="submit" class="btn btn-primary">Créer groupe</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}